<div class="text-center">
	<h2><font color="white">M's Bike</font></h2>
	<h3><font color="white">Post your custom bike.And have fun. etemally...</font></h3>
	<%= image_tag 'bike.jpg', :size =>'800x480',class: "img-thumbnail" %>



	<div class="top-content">
		<div class="text-left">
			<h1>　Concept</h1>
		</div>
		<div class="top-text">
			m`s bike では<br>
			皆様のご自慢のバイクを投稿していただき<br>
			他のバイクをご自身のカスタムの参考にしてもらうなど<br>
			皆様で作り上げていていただく<br>
			コミュニティサイトです。<br>
			自分でカスタムしたものを見てもらうのは<br>
			気持ちが良いものですね。<br>
			皆様からの素敵なカスタムバイクの投稿<br>
			心よりお待ちしております。<br>
			気に入った投稿がありましたら<br>
			コメントを送ってみましょう。<br>
			<div class="text-left">
				<h1>　Gallery</h1>
			</div>
		</div>


				<%= image_tag 'bike6.jpg', :size =>'240x180',class: "img-thumbnail" %>
				<%= image_tag 'bike7.jpg', :size =>'240x240',class: "img-thumbnail" %>
				<br>
				<%= image_tag 'bike4.jpg', :size =>'240x180',class: "img-thumbnail" %>
				<%= image_tag 'bike3.jpg', :size =>'240x180',class: "img-thumbnail" %>


	</div>
</div>



