<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <table class="table">
      <tbody><tr> <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %> </tr> 
      <tr>
    	  <th>ニックネーム</th>
    	  <th><%= @user.name %></th>
      </tr>
      <tr>
    	  <th>自己紹介</th>
    	  <th><%= @user.introduction %></th>
      </tr>
</tbody></table>

<div class="col-xs-9">
    <h2>バイク達</h2>

    <table class="table table-hover table-inverse">
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td> <%= attachment_image_tag item, :image, size: '50x50', format: 'jpeg', fallback: "no_image.jpg" %></td>
      <td><%=link_to item.bike_name, item_path(item.id) %></td>
      <td><%= item.content %></td>
    </tr>
    <% end %>
    <% if @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
      <% end %>
  </thead>


  <tbody>
  </tbody>
</table>
  </div>