<div class="top-content">
  <div class="text-center text-box">
    <h2 class="white-text">ユーザーログイン</h2>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class:"white-text"%><br />
          <%= f.text_field :email,placeholder: "メールアドレス", autofocus: true, class: "email", class:"form-control" %>
      </div>
      <div class="field">
        <%= f.label :password, class:"white-text"%><br />
          <%= f.password_field :password,placeholder: "パスワード", autocomplete: "current-password", class: "password" , class:"form-control"%>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
      <% end %>
  </div>
</div>