<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
            <% @items.each do |item| %>
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                    <%= attachment_image_tag item, :image %>
                  </div>
                </div>
                <div class="block-content">
                  <h3 class="block-title">
                  <%= link_to item_path(item.id) do %>
                     <i class="fa fa-map-marker"></i><%= item.bike_name %>
                  <% end %>
                  </h3>
                  <p><%= item.content %></p>
                  <ul class="inline-meta">
                    <li>By
                      <%= item.user.name %>
                    </li>
                    <li>
                    <%= link_to "#{item.item_comments.count} コメント", item_path(item.id) %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>
            <%= paginate @items, class: "paginate" %>
        </div>
      </div>
    </div>
  </div>
</section>