<div class="item-text">
  <div class="text-center">
    <div class="top-content">
      <h1>Gallery</h1>
      <div class="bar"></div>
    </div>
  </div>
  <div class="text-center">
    <% @items.each do |item| %>
      <div class="top-content">
        <h3>
          <%= link_to item.bike_name ,item_path(item.id),class: "white-text" %>
        </h3>
        <div class="bar"></div>
        <%= attachment_image_tag item, :image, size: "500x450", format: 'jpg',class: "img-thumbnail" %>
          <div class="gallery-text">
            <p>
              <%= item.content %>
            </p>
            <%= attachment_image_tag item.user, :profile_image, size: "150x150", format: 'jpg', class: "img-circle", fallback: "no_image.jpg", size:'75x75' %> By
              <%= link_to item.user.name ,user_path(item.user.id)%><br>
                <%= link_to "#{item.item_comments.count} コメント", item_path(item.id) %>
                  <div id="favorites_buttons_<%= item.id %>">
                    <%= render partial: 'favorites/favorites', locals: {item: item} %>
                  </div>
          </div>
      </div>
      <% end %>
        <div class="top-content">
          <%= paginate @items, class: "paginate white-text" %>
        </div>
  </div>
</div>